.upper-footer {
    background-color: $purple;

    .upper-footer-content {

        padding: 60px 0;

        .flex {
            justify-content: flex-start;
        }

        h2 {
            color: $white;
            margin-bottom: 0;
            margin-top: 0;
        }

        h3{
            margin-top: 0;
            text-align: right;
            color: $white;
            margin-bottom: 0;
        }

        .footer-event-btn {
            display: none;
            @extend %cta;
            margin-left: 100px;
            text-decoration: none;
            margin-top: 10px;
            transition: .4s;
            
            &:hover {
                background-color: $white;
                border: 1px solid green;
                color: $green;
            }
        }
    }
}

footer {
    background-color: $grey;
    padding: 10px 0;

    .contact-wrapper {
        display: flex;

        .contact-img {
            height: 40px;
        } 

        p {
            margin: 0;
        }

        a {
            margin-top: 10px;
            margin-left: 10px;
            color: $darkgreen;
            text-decoration: none;

            &:hover {
                color: $white;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .upper-footer {
        .upper-footer-content {
            h3 {
                text-align: left;
            }
        }
    }

    footer {
        .contact-wrapper {
            width: 100%;
            margin-top: 10px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
.upper-footer {
        .upper-footer-content {
            h3 {
                text-align: left;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {
.upper-footer {
        .upper-footer-content {
            h3 {
                text-align: left;
            }
        }
    }
}