header {
    top: 0px;
    z-index: 1000;
    width: 100%;
    transition: top 0.2s ease-in-out;

    .header-container {
      padding: 0 20px;
    }

    .nav-logo {
        margin-top: 8px;
        height: 70px;
    }

    .nav-btns-wrapper {
      margin-top: 40px;

      .nav-btns {
        height: 40px;
      }
    }
}

.nav {
  display: none;
}

.nav ul {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style-type: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;

    li {
        padding: 7px 15px;
        cursor: pointer;
        margin-top: 15px;
    }

    a {
        text-decoration: none;
        color: $green;
        &:hover {
          background-color: $green;
          color: $white;
          transition: 0.4s;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
      }
    }
}

/* Style the menu link */
.js .nav .skip {
  color: #fff;
  position: absolute;
  right: 1px;
  top: 20px;
  overflow: hidden;
  width: 50px;
      &:hover {
          transition: .4s;
      }

      img {
        height: 20px;
      }
  } 


/* Hide and position the closed .nav ul */
.js .nav ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 1em;
  top: 50px;
  transition: max-height 1s ease-out;
}

/* Style the list items to appear under the menu link */
.js nav li {
  padding: 5px 7px;
  margin: 0;
}

/* Style the list item links for ease of touch on small screens */
.js nav li a {
  padding: 5px 20px;
  display: block;
}

.js nav li span {
  display: block;
}

/* Give the .nav ul a height when it's been opened, i.e. make it show */
.js .nav ul.open {
max-height: 70em;
}

/* On screens larger than 1200px, remove the menu link and display all menu items */
@media screen and (min-width: 991px) {
  .js .nav ul {
    width: 100%;
    overflow: auto;
    max-height: inherit; 
    position: static;
    display: flex;
    justify-content: flex-start;
  }
  .js .nav li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }
  .js .nav li:last-child {
    border: 0;
  }
  .js .nav .skip {
    display: none;
    visibility: hidden;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  header {
    .nav-logo {
      height: 40px;
      order: 1;
    }

    .nav-btns-wrapper {
      margin-top: 20px;
      order: 2;
      .nav-btns {
        height: 20px;
      }
    }
  }

  .nav {
    order: 3;
  }

  .js .nav ul {
    right: 0px;
    width: 100%;
  }

  .js nav li {
      text-align: right;
      margin-top: 0;
      background-color: $white;
  }

  .js nav li a {
      padding: 10px 10px;
      display: block;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {

  header {
    .nav-logo {
      height: 50px;
      order: 1;
    }

    .nav-btns-wrapper {
      margin-top: 20px;
      order: 2;

      .nav-btns {
        height: 30px;
      }
    }
  }
  
  .nav {
    order: 3;
  }

  .js .nav ul {
    right: 0px;
    width: 100%;
  }

  .js nav li {
      text-align: right;
      margin-top: 0;
      background-color: $white;
  }

  .js nav li a {
      padding: 10px 10px;
      display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {

  header {
    .nav-logo {
      height: 50px;
      order: 1;
    }

    .nav-btns-wrapper {
      margin-top: 20px;
      order: 2;

      .nav-btns {
        height: 30px;
      }
    }
  }
  
  .nav {
    order: 3;
  }

  .js .nav ul {
    right: 0px;
    width: 100%;
  }

  .js nav li {
      text-align: right;
      margin-top: 0;
      background-color: $white;
  }

  .js nav li a {
      padding: 10px 10px;
      display: block;
  }
}

